@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@400;700&display=swap');

:root {
  --white: #ffffff;
  --yellow: #f2b705;
  --blue: #03738c;
  --gray: #8e8888;
}
/* Reset page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
body {
  font-weight: 600;
  min-width: 520px;
}
/* Navegação */

nav.bgColor {
  background: var(--blue);
  height: 100px;
  padding: 0px;
}

.navbar a img {
  width: 45%;
}
.navbar-brand img {
  max-width: 400px;
}
.nav {
  color: white;
}
