@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@400;700&display=swap');

:root {
  --white: #ffffff;
  --yellow: #f2b705;
  --blue: #03738c;
  --gray: #8e8888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
body {
  padding-top: 70px;
  font-weight: 600;
  min-width: 520px;
}

.navbar {
  background-color: var(--blue);
  /*  max-height: 143px; */

  height: 70px;
  color: var(--yellow);
  padding: 0px;
}
#navbarNavAltMarkup {
  background-color: var(--blue);
}
#navbarNavAltMarkup .nav-link {
  color: var(--white);
}
.navbar span i {
  background-color: red;
  width: 200%;
}
.navbar a {
  color: var(--white);
}
.navbar a:hover {
  color: var(--yellow);
}
.navbar a img {
  width: 35%;
}
.form-control {
  background-color: var(--blue);
  border-radius: 20px;
  width: 200px;
  height: 32px;
}
.navbar-brand img {
  max-width: 400px;
}

#home-quote {
  background: url('../img/banner.png') center center;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.btn-block {
  width: 140px;
}

.blockquote {
  width: 50%;
  text-align: start;
}
.blockquote p {
  font-size: 60px;
}
.blockquote button {
  margin-top: 10%;
  background-color: var(--yellow);
  color: var(--white);
}
.blockquote button:hover {
  background-color: var(--white);
  color: var(--yellow);
}

@media screen and (max-width: 767px) {
  .fixed-top {
    position: relative;
  }
  body {
    padding-top: 0;
  }
  .blockquote p {
    font-size: 40px;
  }
  .p {
    padding: 10px;
  }
  .navbar input {
    display: none;
  }
  .navbar-brand {
    display: none;
  }
}

.atividades h3 {
  color: var(--blue);
}
.atividades p {
  color: var(--gray);
}
.bgColor {
  background: var(--blue);
}
.color {
  color: var(--yellow);
}

@media screen and (max-width: 1150px) {
  .relative {
    display: none;
  }
  
}

.corte {
  display: flex;
  position: absolute;
}
.slide {
  max-width: 1100px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-short {
  min-width: 200px;
  max-width: 350px;
}
.image-short1 {
  min-width: 200px;
  max-width: 450px;
}

.log-footer {
  max-width: 150px;
}
em {
  text-align: start;
}

.voluntario {
  max-height: 724px;
}