@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@400;700&display=swap");

:root {
  --white: #ffffff;
  --yellow: #f2b705;
  --blue: #03738c;
  --gray: #8e8888;
}
/* reset page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  padding-top: 70px;
  font-weight: 600;
}
/* estilização navbar */
.navbar {
  background-color: var(--blue);
  max-height: 143px;
  height: 70px;
  color: var(--yellow);
  padding: 0px;
}
#navbarSupportedContent {
  background: var(--blue);
}
#navbarSupportedContent .nav-link {
  color: var(--white);
}
.navbar a {
  color: var(--white);
}
.navbar a:hover {
  color: var(--yellow);
}
.navbar a img {
  width: 35%;
}
.navbar-brand img {
  max-width: 400px;
}
.form-control {
  background-color: var(--blue);
  width: 200px;
  height: 32px;
}

/* ajuste 1° banner + blockquote */
#home-quote {
  background: url("../img/banner.png") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.blockquote {
  max-width: 50%;
  text-align: start;
}
.blockquote p {
  font-size: 50px;
}
.blockquote button {
  margin-top: 10%;
  background-color: var(--yellow);
  color: var(--white);
}
.blockquote button:hover {
  background-color: var(--white);
  color: var(--yellow);
}
.btn-block {
  width: 140px;
}

/* Sessão atividades */
.atividades h3 {
  color: var(--blue);
}
.atividades p {
  color: var(--gray);
}

/* Ajuste de imagens, cores  e alinhamento */
.slide {
  max-width: 1100px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgColor {
  background: var(--blue);
}
.color {
  color: var(--yellow);
}
.corte {
  display: flex;
  position: absolute;
}
.image-short {
  min-width: 200px;
  max-width: 350px;
}
.image-short1 {
  min-width: 200px;
  max-width: 370px;
}
.log-footer {
  max-width: 150px;
}
em {
  text-align: start;
}

/* Media queries */

@media screen and (max-width: 1150px) {
  .relative {
    display: none;
  }
  .voluntario p {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .fixed-top {
    position: relative;
  }
  body {
    padding-top: 0;
  }
  .blockquote button {
    width: 80%;
    height: 80%;
    font-size: small;
  }

  .blockquote p {
    font-size: 18px;
  }
  .navbar input {
    display: none;
  }
  .navbar-brand {
    display: none;
  }
}
